mixin comments()
	.comments
		.title Комментарии
		.comments__script
			// Можно удалить нижестоящий блок. Он содержит демо-комментарии.
			// Все демо-файлы находятся в папке temp в корне проекта
			.comments__demo
				img(src="temp/TempVkComments.jpg")
