mixin big-article()
	section.big-article
		.big-article__img
			img(src="%=staticPrefix=%img/content/big-article.jpg" alt="Коллекция pre-fall 2011 от Gucci")
		.big-article__content
			.category-tag.category-tag--big-article / Свадебный калейдоскоп
			a(href="#" title="Коллекция pre-fall 2011 от Gucci").big-article__content__link Коллекция pre-fall 2011 от Gucci
			p.big-article__content__description Потрясающе нежный, свежий, теплый, многогранный коралловый цвет сделает ваше торжество легким и воздушным.
