mixin single-article()
	.single-article
		h1 Мужская мода весна-лето 2015: главные тренды сезона

		img(src="%=staticPrefix=%img/content/single-article-big.jpg" alt="Мужская мода весна-лето 2015: главные тренды сезона")

		p Вы решили соединить ваши сердца узами крепкого и счастливого брака. Ну что ж, поздравляем! Но не стоит расслабляться! Ведь впереди вас ждет не просто торжественный день вашего бракосочетания, а кропотливая работа по организации вашего первого совместного праздника.

		p И чтобы в этот день все прошло на высочайшем уровне, начать подготовку стоит заблаговременно, идеально за 6 месяцев до вашей свадьбы. Что же и когда следует делать? Портал Свадьбаголик.ru сейчас расскажет вам! Итак, начинаем обратный отсчет.

		h2 6 месяцев до вашей свадьбы

		ul
			li Определяемся с датой торжественного бракосочетания.
			li Решаем, хотите вы роспись в ЗАГСе или выездную церемонию.
			li Выбираем ЗАГС/Дворец бракосочетания.
			li Едем в ЗАГС и бронируем дату бракосоче тания (или делаем это с помощью Интернета/телефона).
			li Составляем индивидуальный план подготовки к вашей свадьбе.
			li Узнаем, будут ли организовываться в вашем городе свадебные выставки. Если будут, обязательно посещаем их.
			li Составляем приблизительный список гостей.
			li На его основе рассчитываем, сколько денежных средств потребуется для проведения свадебного банкета.
			li Решаем, какие свадебные услуги вы будете заказывать для вашей свадьбы. Узнаем их приблизительную стоимость.
			li На основе двух предыдущих пунктов формируем приблизительный свадебный бюджет (добавляем к нему 15-20 % на непредвиденные расходы и др.).
			li Объявляем родственникам и друзьям о вашей свадьбе.
			li Выбираем свидетелей (либо делаем это позже).
			li Определяемся, как вы проведете ваш медовый месяц. При необходимости заранее бронируем номер в отеле, покупаем билеты и т.п. (особенно, если ваша свадьба выпадает на теплое время года).
			li Составляем список ресторанов, банкетных залов и других мест, где бы вам хотелось провести вашу свадьбу.
			li Узнаем условия их аренды, в том числе, за какое время надо бронировать ресторан (кафе) и вносить предоплату.

		h3 3 месяца до вашей свадьбы

		ol
			li На основе двух предыдущих пунктов формируем приблизительный свадебный бюджет (добавляем к нему 15-20 % на непредвиденные расходы и др.).
			li Объявляем родственникам и друзьям о вашей свадьбе.
			li Выбираем свидетелей (либо делаем это позже).
			li Определяемся, как вы проведете ваш медовый месяц. При необходимости заранее бронируем номер в отеле, покупаем билеты и т.п. (особенно, если ваша свадьба выпадает на теплое время года).
			li Составляем список ресторанов, банкетных залов и других мест, где бы вам хотелось провести вашу свадьбу.
			li Узнаем условия их аренды, в том числе, за какое время надо бронировать ресторан (кафе) и вносить предоплату.

		p Вы решили соединить ваши сердца узами крепкого и счастливого брака. Ну что ж, поздравляем! Но не стоит расслабляться!

		blockquote
			p Ведь впереди вас ждет не просто торжественный день вашего бракосочетания, а кропотливая работа по организации вашего первого совместного праздника.И чтобы в этот день все прошло на высочайшем уровне, начать подготовку стоит заблаговременно, идеально за 6 месяцев до вашей свадьбы. Что же и когда следует делать?

		h4 Заголовок h4

		p Вы решили соединить ваши сердца узами крепкого и счастливого брака. Ну что ж, поздравляем! Но не стоит расслабляться!
