mixin calendar()
	.calendar
		.calendar__title Выберите неделю

		.calendar__central

			.calendar-week.calendar-week--first-trimester
				.calendar-week__trimester-name.calendar-week__trimester-name--first-trimester  1 триместр
				- for (var i = 1; i < 14; ++i) {
				a(href="#" title="").calendar-week__day.calendar-week__day--first-trimester= [i]
				- }

			.calendar-week.calendar-week--second-trimester
				.calendar-week__trimester-name.calendar-week__trimester-name--second-trimester  2 триместр
				- for (var i = 14; i < 27; ++i) {
				a(href="#" title="").calendar-week__day.calendar-week__day--second-trimester= [i]
				- }

			.calendar-week.calendar-week--third-trimester
				.calendar-week__trimester-name.calendar-week__trimester-name--third-trimester  3 триместр
				- for (var i = 27; i < 43; ++i) {
				a(href="#" title="").calendar-week__day.calendar-week__day--third-trimester= [i]
				- }

		.calendar__title.calendar__title--small или месяц

		.calendar-month
			- for (var i = 1; i < 10; ++i) {
			.calendar-month__item
				a(href="#" title="")= [i]
				span месяц
			- }

	.calendar-text
		p Как правило, администрация сайта вступает в переписку с участниками, если запрос участника составлен правильно и корректно и не нарушает настоящих правил, однако, она не обязана: а) отвечать на все письма, приходящие в её адрес.
		ul
			li Никто из участников не имеет права на оскорбление как отдельных личностей, так и групп по расовому, национальному, религиозному и любому иному признаку. Адресные оскорбления категорически запрещены.
			li Сайт является русскоязычным. Сообщения на транслите не допускаются. Сообщения на иных языках обязательно должны быть приведены с переводом на русский язык.
			li На сайте запрещено размещение рекламы коммерческих продуктов, равно как и прочей рекламной продукции, включая рекламу иных общественно-политических организаций.
			li Квалификация сообщений как недопустимых есть исключительная компетенция модератора.
			li Действия модератора публично не обсуждаются. Вопросы, касающиеся модерации, решаются путем личной переписки с модератором.
			li Профиль пользователя обязательно должен содержать информацию о настоящем имени и фамилии. Аватары не допускаются, можно использовать только реальную фотографию участника с различимыми чертами лица.

		p Кроме этих «стандартных» причин могут быть и другие, не предусмотренные ПФ, но вредящие общению на форуме. Факт наличия вреда, наносимого форуму, его объём и, соответственно, мера пресечения, определяются модератором. Особо просим участников форумов обращать внимание на тон своих высказываний. Это трудно формализуемая категория, однако модераторы имеют право апеллировать к ней, применяя ту или иную меру наказания.

		p Как правило, администрация сайта вступает в переписку с участниками, если запрос участника составлен правильно и корректно и не нарушает настоящих правил, однако, она не обязана: а) отвечать на все письма, приходящие в её адрес.
