.footer {
	position: relative;

	padding-top: 15px;
	padding-bottom: 10px;

	background: $black;
	&:before {
		top: -9px;

		width: 100%;
		height: 9px;

		background: url(../img/general/footer--before.png) repeat-x;

		@include content;
	}
	&__logo {
		display: inline-block;

		margin-right: 86px;

		vertical-align: middle;

		@include bg($logo-white);
		@media screen and (max-width:480px) {
			margin: 10px auto;
			display: block;
		}
	}
	&__nav {
		display: inline-block;

		vertical-align: middle;
		@media screen and (max-width:480px) {
			display: none;
		}
		a {
			position: relative;

			display: inline-block;

			margin-right: 46px;
			margin-left: 16px;

			text-decoration: underline;
			text-transform: uppercase;

			color: #999;

			font-size: em(12px);
			&:hover {
				text-decoration: none;
			}
			&:before {
				top: 3px;
				left: -16px;

				@include bg($icon-torus);
				@include content;
			}
		}
	}
	&__counters {
		display: inline-block;
		float: right;

		vertical-align: middle;

		background: #000;

		@include cf;
		@media screen and (max-width:480px) {
			display: none;
		}
	}
}
