mixin footer(data)
	footer.footer
		.page__wrapper
			.footer__logo
			nav.footer__nav
				a(href="#" title="Реклама на сайте") Реклама на сайте
				a(href="#" title="Контактная информация") Контактная информация
			.footer__counters
