mixin sidebar-nav()
	nav.sidebar-nav
		ul.sidebar-nav__container
			li.sidebar-nav__item
				a(href="#" title="Свадебные традиции") Свадебные традиции
			li.sidebar-nav__item
				a(href="#" title="Сценарии и игры") Сценарии и игры
			li.sidebar-nav__item
				a(href="#" title="Свадебные поздравления") Свадебные поздравления
			li.sidebar-nav__item
				a(href="#" title="Цветовая гамма свадьбы") Цветовая гамма свадьбы
			li.sidebar-nav__item
				a(href="#" title="Тематические свадьбы") Тематические свадьбы
			li.sidebar-nav__item.active Свадебные услуги
			li.sidebar-nav__item
				a(href="#" title="Свадебные мастер-классы") Свадебные мастер-классы
			li.sidebar-nav__item
				a(href="#" title="Идеи для свадьбы") Идеи для свадьбы
			li.sidebar-nav__item
				a(href="#" title="Бренды и коллекции") Бренды и коллекции
			li.sidebar-nav__item
				a(href="#" title="Свадебная мода") Свадебная мода
			li.sidebar-nav__item
				a(href="#" title="Свадебный образ") Свадебный образ
			li.sidebar-nav__item
				a(href="#" title="Места для прогулки") Места для прогулки
			li.sidebar-nav__item
				a(href="#" title="Свадебное путешествие") Свадебное путешествие
			li.sidebar-nav__item
				a(href="#" title="Подарки молодоженам") Подарки молодоженам
			li.sidebar-nav__item
				a(href="#" title="Готовимся к свадьбе") Готовимся к свадьбе
			li.sidebar-nav__item
				a(href="#" title="Регистрация брака") Регистрация брака
			li.sidebar-nav__item
				a(href="#" title="О любви и отношениях") О любви и отношениях
			li.sidebar-nav__item
				a(href="#" title="Все о семье") Все о семье
