mixin breadcrumbs()
	.breadcrumbs
		a(href="#" title="Домой").breadcrumbs__link.breadcrumbs__link--home Главная
		a(href="#" title="").breadcrumbs__link Категория
		span.breadcrumbs__link.breadcrumbs__link--current Запись
