mixin nav-menu()
	nav.nav-menu
		.page__wrapper
			ul.nav-menu__container
				li.nav-menu__item
					a(href="#" title="Мода") Мода
				li.nav-menu__item
					a(href="#" title="Красота") Красота
				li.nav-menu__item
					a(href="#" title="Материнство") Материнство
				li.nav-menu__item
					a(href="#" title="Кулинария") Кулинария
				li.nav-menu__item
					a(href="#" title="Сервисы") Сервисы
