mixin small-article()
	section.small-article-list
		- for (var i = 1; i < 10; ++i) {
		.small-article
			.small-article__img
				img(src="%=staticPrefix=%img/content/small-article#{i}.jpg" alt="")
			.category-tag.category-tag--small-article / Идеи для свадьбы
			a(href="#" title="Коллекции Haute Couture весна-лето 2013. Часть 1").small-article__link Коллекции Haute Couture весна-лето 2013. Часть 1
			p.small-article__description Потрясающе нежный, свежий, теплый, многогранный коралловый цвет сделает ваше торжество
		- }
