mixin sidebar-widget()
	.sidebar-widget
		// Можно удалить нижестоящий блок. Он содержит демо-виджет группы вконтакте.
		// Все демо-файлы находятся в папке temp в корне проекта
		img(src="temp/tempVkGroup.jpg")
